body {
    overflow-y: scroll;
}

.page-header {
    font-size: 8vw;
    display: block;
    top: 7%;
}

.info-container {
    position: absolute;
    top: 13%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    max-width: 80%;
    --background: rgb(239, 234, 229, 0.56);
    box-shadow: 2px 10px 8px 0px rgba(107, 107, 107, 0.4), 2px 10px 8px 0px rgb(177, 177, 177, 0.19);
    padding: 5px;
    border-radius: 5px;
    overflow-y: scroll;
}

.input-item {
    --background: #FFFFFF;
    --border-radius: 35px;
    margin-bottom: 10px;
    --padding-top: -10px;
    --padding-start: 10px;
    --padding-end: 20px;
    font-size: 12px;
    max-height: 10px;
    width: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;

}

.back-button {
    --background: #FFFFFF;
    --color: #F37D0F;
    --background-activated: #504B46;
    display: flex;
    width: 40%;
}

.edit-button {
    --background: #F37D0F;
    --color: #FFFFFF;
    --background-activated: #504B46;
    display: flex;
    width: 40%;

}