.info-container {
    --position: absolute;
    --top: 10%;
    --left: 10%;
    --right: 10%;
    --background: rgb(239, 234, 229, 0.56);
    --box-shadow: 2px 10px 8px 0px rgba(107, 107, 107, 0.4), 2px 10px 8px 0px rgb(177, 177, 177, 0.19);
    --padding: 5px;
    --border-radius: 5px;
}
IonButton {
    --background: #F37D0F;
      --color: #FFFFFF;
      --background-activated:#504B46;
      --display: flex;
      --width: 40%;
  }
 
    .ionitem{
        --background:  rgb(239, 234, 229, 0.56);
        --box-shadow: none;
    
    }
    .input-item {
        --background: #FFFFFF;
        --border-radius: 35px;
        --margin-bottom: 10px;
        --padding-top: -10px;
        --padding-start: 10px;
        --padding-end: 20px;
        --font-size: 12px;
        --max-height: 10px;
        --width: auto;
    }
    