.thumbnail {
    border-right: 5px solid #F37D0F;
    padding: 5px;
    margin-top: 15px;
    width: 70px;
}

.grid {
    margin: 70px 0px;
}
.teamHolder {
    width: 100%;
}


h2 {
    color: #F37D0F;
    /* font-size: 35px !important; */
    display: flex;
    justify-content: center;
}

.label {
    background-color: white;
    color: #F37D0F !important;
    border: #F37D0F !important;
    padding-left: 20px;
    font-size: 20px !important;
}

