ion-fab {
  margin-top: 0px;
  margin-right: 0px;
  width: 30%;
  margin-top: -30px;
}

ion-fab-button {
  --background: #E5E0Da;
  --border-radius: 0px;
  --box-shadow: none;
  --color: black;
  width: 95px;
  margin: 0px;
}

.menu-icon {
  --background: #F37D0F;
  --background-activated: #F37D0F;
  --background-hover: #F37D0F;
}

ion-button {
  --background: #E5E0Da;
  --background-activated: #f5ad6a;
  --background-hover: #f8983f;
  --border-style: none !important;
  --box-shadow: none;
  --color: #F37D0F;
  --color-hover: #a5560b;
  --color-activated:#f5ad6a;
  font-size: 12px;
  font-weight: 600;
}


ion-label {
  color: #F37D0F;
  background-color: #E5E0Da;
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  padding: 12px 0px 12px 0px;
}

ion-fab-list {
  background-color: #E5E0Da;
  border-radius: 5px;
  padding: 25px;
}

.toolbar-title-default {
  --background: #F37D0F;
  padding: 0px 20px;
}
